.root {
    -fx-background-color: #FFFFFF;
    -fx-padding: 0;
    -fx-focus-color: transparent;
}

.header {
    -fx-background-color: #2B2D42;
}

.button {
    -fx-background-color: #EDF2F4;
    -fx-background-radius: 2;
}

.button:hover {
    -fx-background-color: #e7e7e7;
}

.colorButton {
    -fx-background-color: #D90429;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.colorButton:hover {
    -fx-background-color: #EF233C;
}
.libraryView {
    -fx-fit-to-width: true;
}
.libraryView VBox {
    -fx-spacing: 10;
    -fx-fit-to-width: true;
}
.libraryView VBox BorderPane {
    -fx-background-color: #e7e7e7;
    -fx-background-radius: 5;
    -fx-min-width: 100%;
    -fx-padding: 20px;
}

.libraryView VBox BorderPane Label {
    -fx-font-size: 14px;
}

.libraryView VBox BorderPane Button {
    -fx-background-color: #8D99AE;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-padding: 8 10;
}
.libraryView VBox BorderPane Button:hover {
    -fx-background-color: #a1a1a1;
}
.titleLabel {
    -fx-font-size: 16px;
}

.categoryView {
    -fx-background-color: #FFFFFF;
}

.loginBox HBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.libraryScrollPane {
    -fx-fit-to-width: true;
}

.authorLabel {
    -fx-text-fill: #858585;
}
.errorLabel {
    -fx-text-fill: #f25252;
}
.fieldError {
    -fx-border-color: #f25252;
}
.h1 {
    -fx-font-size: 24px;
}
.h2 {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.accountMenu {
    -fx-padding: 20;
    -fx-spacing: 10;
}